body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.page {
  position: relative;
  height: 100vh;
}

.container {
  position: absolute;
  z-index: 10;
}

.loader {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: pink;
  z-index: 30;

  animation: loader 2s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
