$yellow: #ffd602;
$red: #d5040a;
$blue: #036cb6;

$Lato: "Lato", sans-serif;

// Position
// Box-design
// Text
// Design

body {
  font-family: $Lato;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.page {
  position: relative;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav aside"
    "section aside"
    "footer aside";
  position: absolute;
  height: 100%;
  width: 100%;
  // z-index: 10;
}

.side-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-area: aside;
  align-items: center;

  p {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 36px;
    transform: rotate(-90deg);

    opacity: 0;

    animation-name: side-content-text;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  img {
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 1 / 2;

    animation: 2s side-content-img 0.5s ease-in-out;
  }

  div {
    background-color: $yellow;
    height: 100%;
    grid-row: 1 / 2;
    grid-column: 4 / 7;

    z-index: -10;
  }
}

.navbar {
  display: flex;
  grid-area: nav;
  height: 60%;

  &__content {
    display: flex;
    width: 100%;
    padding: 0 0 0 80px;
    align-items: center;
    background-color: $yellow;

    animation: 2s navbar 0.5s ease-in-out;
    img {
      width: 50px;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
      width: 450px;
      a {
        text-decoration: none;
        color: $red;
        font-weight: 300;
      }
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  grid-area: section;
  justify-content: center;
  padding-left: 80px;

  p:first-child {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 -14px 44px;
  }
  h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 28px 0;
  }
  p:last-child {
    font-weight: 100;
    width: 60%;
    margin: 0;
  }

  animation: 2s main-content 0.2s ease-in-out;
}

.footer {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-block-start: 50px;
  grid-area: footer;
  border-radius: 0 80px 0 0;
  background-color: $yellow;

  animation: footer 0.5s ease-in-out 2.5s forwards;
  transform: translateY(100%);

  div {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 40%;
    border-radius: 20px 20px 0 0;
    background-color: $blue;
  }

  div img {
    position: absolute;
    width: 160px;
    bottom: 30px;

    transform: translateY(0) scale(1);
    transition: transform 0.3s ease-in-out;
  }

  div:hover img {
    cursor: pointer;
    transform: translateY(-20px) scale(1.1);
    transition: transform 0.5s ease-in-out;
  }
}

.loader {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: pink;
  z-index: 30;
  animation: loader 1.5s linear forwards;

  div {
    margin: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;

    transform: scale(0);
    animation: scaling 2s ease-in-out infinite;
  }

  div:nth-child(1) {
    animation-delay: 0.2s;
  }
  div:nth-child(2) {
    animation-delay: 0.4s;
  }
  div:nth-child(3) {
    animation-delay: 0.6s;
  }
}

.visible {
  display: grid;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 30;

  &__content {
    display: grid;
    grid-template-rows: 15% 85%;
    flex-direction: column;
    place-items: center;
    width: 50%;
    height: 60%;
    border-radius: 5px;
    background: white;
    &--closeIcon {
      cursor: pointer;
    }

    &--slider {
      width: 500px;
      height: 400px;
      transform-style: preserve-3d;

      img {
        width: 250px;
      }
    }
  }
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  left: 0;
  right: 0;
  display: grid;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  place-items: center;
  background-color: $yellow;
}

#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 30;
}
#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

.hidden {
  display: none;
}
// keyframes

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes main-content {
  0% {
    transform: translateY(-600px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes side-content-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes side-content-img {
  0% {
    transform: translateX(600px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes footer {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0px);
  }
}
