$yellow: #ffd602;
$red: #d5040a;
$blue: #036cb6;

$Lato: "Lato", sans-serif;

body {
  font-family: $Lato;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.page {
  position: relative;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav aside"
    "section aside"
    "footer aside";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.loader {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: pink;
  z-index: 30;

  animation: loader 2s linear forwards;

  div {
    margin: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;

    transform: scale(0);
    animation: scaling 2s ease-in-out infinite;
  }

  div:nth-child(1) {
    animation-delay: 0.2s;
  }
  div:nth-child(2) {
    animation-delay: 0.4s;
  }
  div:nth-child(3) {
    animation-delay: 0.6s;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

.navbar {
  background-color: lightpink;
  grid-area: nav;
}
